@model IEnumerable<Dapper_EMS.Entities.Company>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of Companies</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h2>List of Companies</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Address</th>
                    <!-- Add more table headers as needed -->
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.Name</td>
                        <td>@company.Address</td>
                        <!-- Add more table cells to display additional company information -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
